@import "variables";
@import "grid";
@import "./Components/navbar";
@import "./Components/product";
@import "./Components/footer";
@import "./Components/form";

body {
   display: flex;
   flex-direction: column;
   min-height: 100lvh;
   margin: 0;
   background-color: #bcdee7;
}

.container {
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   box-sizing: border-box;
   flex-grow: 1;
}
